<html>

<head> <title>Catalogue</title></head>

<body bgcolor="E1F0DA">
<style>
a:link a:visited {
  color: FFF5DA;
  background-color: transparent;
  text-decoration: none;
}
</style>

<table align="center" border="1" width="100%" height="100%">

<tr style="color:black;font-size:25px;">

<th>SCHEME NAME</th>

<th>DESCRIPTION</th>

<th>LINK TO APPLY</th>

</tr>

<tr>

<td align="center" style="color:black;"><a><b>Cheyutha Scheme Telangana 2024</b></a></td>

<td align="left" style="color:black;"><p>The Government of Telangana has launched the Telangana Cheyutha Scheme. Under this scheme, support will be provided to weavers and other handloom workers. </p></td>

<td>

<table width="30%" align="center">

<tr style="height:30px">

<td></td>
<td align="left" color:"FFF5DA"><a href="https://pmayojana.in/cheyutha-scheme-telangana/">CLICK TO APPLY</a></td>

<td></td>

</tr>

</table>

</td>

</tr>

<tr>

<td align="center"><p><b>Gruhalakshmi Scheme Telangana</b></p></td>

<td align="left"><p>The Government of Telangana has launched the Gruhalakshmi Scheme Telangana. Under the scheme financial assistance of Rs 2000 is provided to the women head of the house.  This scheme has been launched to support women and improve their livelihood.</p></td>

<td>

<table width="30%" align="center">

<tr>

<td></td>

<td align="left"><a href="https://pmayojana.in/gruhalakshmi-scheme-telangana/">CLICK TO APPLY</a></td>

<td></td>

</tr>

</table>


</td>

</tr>

<tr>

<td align="center"><p><b>Praja Palana Application</b></p></td>

<td align="left"><p>Praja Palana Application Form PDF has been made available by the government of Telangana. This scheme has been launched to accept applications and address the grievances regarding the 6 guarantee schemes launched by the government of Telangana.</p></td>

<td>

<table width="60%" align="center">

<tr>

<td> </td>

<td align="right"><a href="https://pmayojana.in/praja-palana-application-form-pdf/">CLICK TO APPLY</a></td>

<td></td>

</tr>

</table>

</td>

</tr>

<tr>

<td align="center"><p><b>Telangana Aarogyasri Card<b><p></td>

<td align="left"><p>The Aarogyasri Scheme will benefit the BPL families in the state of Telangana. The Aarogyasri Yojana was designed to help 233 lakh Telangana residents. Aarogyasri Cards will be given to families so they can receive cashless medical care in hospitals.</p></td>

<td>

<table width="30%" height="30%" align="center">

<tr>

<td></td>

<td align="right"><a href="https://pmayojana.in/telangana-aarogyasri-card-apply-online/">CLICK TO APPLY</a></td>

<td></td>

</tr>

</table>

</td>

</tr>

<tr>

<td align="center"><p><b>Mahalakshmi Scheme 2024<b><p></td>

<td align="left"><p>This scheme will empower women in the Telangana state.Under the Mahalaxmi scheme, the candidates will get INR 2500 per month.The candidate will also get subsidized gas cylinders and travel freely in RTC buses</p></td>

<td>

<table width="30%" height="30%" align="center">

<tr>

<td></td>

<td align="right"><a href="https://pmayojana.in/mahalakshmi-scheme/">CLICK TO APPLY</a></td>

<td></td>

</tr>

</table>

</td>

</tr>

<tr>

<td align="center"><p><b>Yuva Vikasam Scheme Telangana 2024<b><p></td>

<td align="left"><p>The main aim of the Yuva Vikasam Scheme is to encourage and motivate the youth of Telangana to go for higher education many students belong to economically weaker sections of Telangana and cannot afford their education expenses. The selected students will get a good education and build a better future for themselves. </p></td>

<td>

<table width="30%" height="30%" align="center">

<tr>

<td></td>

<td align="right"><a href="https://pmayojana.in/yuva-vikasam-scheme-telangana/">CLICK TO APPLY</a></td>

<td></td>

</tr>

</table>

</td>

</tr>

<tr>

<td align="center"><p><b>Telangana 2BHK Housing Scheme 2024<b><p></td>

<td align="left"><p>To provide someone with a house is the biggest blessing we get. And this step by the Telangana government towards the families who belong to the financially weaker section of society. </p></td>

<td>

<table width="30%" height="30%" align="center">

<tr>

<td></td>

<td align="right"><a href="https://pmayojana.in/telangana-2bhk-housing-scheme/">CLICK TO APPLY</a></td>

<td></td>

</tr>

</table>

</td>

</tr>
<tr>

<td align="center"><p><b>Telangana Gruha Jyothi Scheme 2024<b><p></td>

<td align="left"><p>The Government of Telangana has launched the Gruha Jyothi Scheme. Under this scheme, 200 units of free electricity is provided to the citizens free of cost. </p></td>

<td>

<table width="30%" height="30%" align="center">

<tr>

<td></td>

<td align="right"><a href="https://pmayojana.in/telangana-gruha-jyothi-scheme/">CLICK TO APPLY</a></td>

<td></td>

</tr>

</table>

</td>

</tr>

</table>

</td>

</tr>

</table>

</body>


</html>
